<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Contact Application
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/send-otp.ejs">Send OTP to Contacts</a></li> 
            <li><a href="/sent-otps.ejs">List of OTP sent</a></li>
        </ul>
      
    </div>
</nav>