<!-- views/pages/error-info.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h2>Contact Info</h2>
        </div>
        <div class="contact-info">
           <table cellspacing="30">
                <tr><td><h4><%=error.nameError%></h4></td> <td><h4><%=error.contactError%></h4></td>
                </tr>
            </table>
        </div>
    </main>

    <footer>
    <center>
        <% include ../partials/footer %>
    </center>
    </footer>
    
</body>
</html>