<!-- views/pages/otp-confirmation.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>

<body class="container">
    <main>
        <div class="jumbotron">
            <h3>OTP STATUS : <%= message.Status%></h3>
        </div>
    </main>

    <footer>
    <center>
        <% include ../partials/footer %>
    </center>
    </footer>    
</body>

</html>